<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Joern Kiwitt">
    <link rel="icon" href="media/favicon.ico">

    <title>Angular JS</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="media/fabacademy.css" rel="stylesheet">
    
    <!-- 3D files viewer -->
    <script type="text/javascript" src="media/jsc3d_ie.min.js"></script>
	<script type="text/javascript" src="media/jsc3d.min.js"></script>
    <script type="text/javascript" src="media/jsc3d.webgl.js"></script>
    <script type="text/javascript" src="media/jsc3d.touch.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Load the menu file -->
    <script>
	function menu() {
					  $('#exercises').load("exercises-menu.html");
					  $('#project').load("project-menu.html");
					  $('#cclicense').load("license.html");
					  }
	</script>

  </head>

  <body onload="menu()">

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Joern Kiwitt</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="about.html">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Exercises <span class="caret"></span></a>
              <ul id="exercises" class="dropdown-menu" role="menu">
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Final Project <span class="caret"></span></a>
              <ul id="project" class="dropdown-menu" role="menu">
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

	<!-- Insert your content here below! -->


    <h1>AngularJS</h1>
        
    <h2>Introduction</h2>
        
        <p>I started with the Codecademy Tutorial you can find <a href="https://www.codecademy.com/courses/learn-angularjs/lessons/your-first-app/exercises/your-first-app-hello-angularjs-i?action=resume_content_item">here</a>.</p>
        
        <p>According to the tutorial, AngularJS is a JavaScript web framework aimed to make web apps simple to build and easy to maintain.</p>
    
        <p>But let's go through it step by step.</p>
    
    <h2>Building an app</h2>
        <p>1. In <b>app.js</b> you create a module named <b>myApp</b>. It contains the different components of an AngularJS app.</p>
        
        <pre>var app = angular.module("myApp", []);</pre>

        <p>2. In the <b>index.html</b> we added <code>&ltbody ng-app="myApp"></code>. The ng-app is called a <b>directive</b>. It tells AngularJS that the myApp module will live within the <code>&ltbody></code> element, termed the <b>application's scope</b>. In other words, we used the <b>ng-app</b> directive to define the application scope.</p>
        
        <p>3. In <b>MainController.js</b> we created a new controller named MainController. A controller manages the app's data. Here we use the property title to store a string, and attach it to $scope.</p>
        
        <p>4, in <b>index.html</b>, we added <code>&ltdiv class="main" ng-controller="MainController"></code>. Like ng-app, ng-controller is a directive that defines the controller scope. This means that properties attached to $scope in MainController become available to use within <code>&ltdiv class="main"></code>.</p>
        
        <p>5. Inside <code>&ltdiv class="main"></code> we accessed $scope.title using {{ title }}. This is called an <b>expression</b>. Expressions are used to display values on the page.</p>
        
        <div class="container">        
            <div class="col-sm-6">             
                <a href="media/images/10_AngularJS/AppTitle.PNG"> 
                    <img class="img-thumbnail" src="media/images/10_AngularJS/AppTitle.PNG" alt="image AppTitle">   
                </a>
                <legend>App displaying title</legend>
            </div>
        </div>          
        
        <p>You can attach further properties to the scope, such as (MainController):</p>
        
        <pre>app.controller('MainController', ['$scope', function($scope) { 
  $scope.title = 'Your string'; 
  $scope.promo = '10 % off';
}]);</pre>
        
        <p>and display it by adding it to the index.html:</p>
        
<pre>
&ltdiv class="main" ng-controller="MainController">

  &ltdiv class="container">

    &lth1>{{ title }}&lt/h1>
    &lth2>{{ promo }}&lth2>

  &lt/div>
&lt/div></pre>

<h2>Summary of the workflow</h2>
        
    <p>The standard workflow of creating an AngularJS app looks like this:</p>
        
    <ol>
        <li>Create a module, and use ng-app in the view to define the application scope.</li>
        <li>Create a controller, and use ng-controller in the view to define the controller scope.</li>
        <li>Add data to $scope in the controller so they can be displayed with expressions in the view.</li>
    </ol>
        
    <p>Add a new property to the MainController:</p>
        
<pre>
$scope.product = { 
      name: 'The Book of Trees', 
      price: 19 
};</pre>
        
    <p>And call it in the index.html:</p>
        
<pre>
    &ltp class="title">{{ product.name }}&lt/p>
</pre>
        
    <p>The class title is just for design matters.</p>

<h2>Filters</h2>        
        
    <p>BY using a filter (pipe symbol), we format a number as a currency. In this way, filters help to separate the content in the controller from its presentation in the view.</p>
        
<pre>&ltp class="price">{{ product.price | currency}}&lt/p>
</pre>
      
    <p>Here is another examples.</p>
      
    <p>index.html:</p>
      
<pre>&ltp class="date">{{ product.pubdate | date }}&lt/p>
</pre>
    
    <p>MainControler.js:</p>
      
<pre>$scope.product = { 
      name: 'The Book of Trees', 
      price: 19 ,
    	pubdate: new Date('2014', '03', '08')
    };</pre>
      
    <div class="container">        
        <div class="col-sm-6">             
            <a href="media/images/10_AngularJS/Filters.PNG"> 
                <img class="img-thumbnail" src="media/images/10_AngularJS/Filters.PNG" alt="image Filters">   
            </a>
            <legend>Date filter display</legend>
        </div>
    </div>  
        
<h2>My first app</h2>
        
    <h3>ng-repeat</h3>
        
    <p>Some vocabulary</p>
        
        <ul>
            <li>A <b>module</b> contains the different components of an AngularJS app</li>
            <li>A <b>controller</b> manages the app's data</li>
            <li>An <b>expression</b> displays values on the page</li>
            <li>A <b>filter</b> formats the value of an expression</li>
        </ul>
        
    <p><b>ng-repeat</b> is a directive. It loops through an array and displays. That way, we don't have to repeat html code in the index.</p>
        
<pre>&ltdiv class="main" ng-controller="MainController">
      &ltdiv ng-repeat="product in products" class="col-md-6"> 
        &ltdiv class="thumbnail"> 
          &ltimg ng-src="i{{ product.cover }}"> 
          &ltp class="title">{{ product.name }}&lt/p> 
          &ltp class="price">{{ product.price | currency }}&lt/p> 
          &ltp class="date">{{ product.pubdate | date }}&lt/p> 
        &lt/div> 
    	&lt/div>
    &lt/div>
</pre>

    <p>Controller code:</p>
        
<pre>  $scope.products = [ 
  { 
    name: 'The Book of Trees', 
    price: 19, 
    pubdate: new Date('2014', '03', '08'), 
    cover: 'img/the-book-of-trees.jpg' 
  }, 
  { 
    name: 'Program or be Programmed', 
    price: 8, 
    pubdate: new Date('2013', '08', '01'), 
    cover: 'img/program-or-be-programmed.jpg' 
  } 
]</pre>
        
    <div class="container">        
        <div class="col-sm-6">             
            <a href="media/images/10_AngularJS/Directives_Ngrepeat.PNG"> 
                <img class="img-thumbnail" src="media/images/10_AngularJS/Directives_Ngrepeat.PNG" alt="image Directives_Ngrepeat">   
            </a>
            <legend>ng-repeat directive display</legend>
        </div>
    </div>        
        
    <p>By using the product's attributes in the index file, the correct content is being displayed.</p>
        
    <h3>Like button</h3>
        
    <p>Index.html</p>
        
<pre>&ltp class="likes" ng-click="plusOne($index)"> {{ product.likes }}</p> </pre>
  
    <p>Controller</p>
        
<pre>$scope.plusOne = function(index) {
      $scope.products[index].likes += 1; };
}</pre>
      
    <p>The result lets you "like" a book.</p>
      
    <div class="container">        
        <div class="col-sm-6">             
            <a href="media/images/10_AngularJS/Like.PNG"> 
                <img class="img-thumbnail" src="media/images/10_AngularJS/Like.PNG" alt="image like">   
            </a>
            <legend>Like button</legend>
        </div>
    </div>   
      
    <p>How does it work? The <b>ng-click</b> is a directive. When <code>&ltp class="likes"></code> is clicked, <b>ng-click</b> tells AngularJS to run the <code>plusOne()</code> function in the controller.</p>
      
    <p>The <b>plusOne()</b> function gets the index of the product that was clicked, and then adds one to that product's likes property.</p>
      
    <h3>Summary of user interaction</h3>
      
    <ul>
        <li>A user visits the AngularJS app.</li>
        <li>The view presents the app's data through the use of expressions, filters, and directives. Directives bind new behavior HTML elements.</li>
        <li>A user clicks an element in the view. If the element has a directive, AngularJS runs the function.</li>
        <li>The function in the controller updates the state of the data.</li>
        <li>The view automatically changes and displays the updated data. The page doesn't need to reload at any point.</li>
    </ul>
      
    <div class="container">        
        <div class="col-sm-6">             
            <a href="media/images/10_AngularJS/summary_angular.PNG"> 
                <img class="img-thumbnail" src="media/images/10_AngularJS/summary_angular.PNG" alt="image summary_angular">   
            </a>
            <legend>How AngularJS works</legend>
        </div>
    </div>         
        
    <h2>Directives</h2>
      
    <p><b>appinfo.js</b>:</p>
      
    <pre>app.directive('appInfo', function() { 
      return { 
        restrict: 'E', 
        scope: { 
          info: '=' 
        }, 
        templateUrl: 'js/directives/appInfo.html' 
      }; 
    });</pre>      
      
    <p><b>restrict</b> specifies how the directive will be used in the view. The 'E' means it will be used as a new HTML element.</p>
    <p><b>scope</b> specifies that we will pass information into this directive through an attribute named info. The = tells the directive to look for an attribute named info in the <code>&ltapp-info></code> element, like this:</p>
      
<pre>&ltapp-info info="shutterbugg">&lt/app-info></pre>
      
    <p>The data in info becomes available to use in the template given by templateURL. It is held in this file (appInfo.html), which defines the display of the object.</p>
      
<pre>&ltimg class="icon" ng-src="{{ info.icon }}"> 
&lth2 class="title">{{ info.title }}&lt/h2> 
&ltp class="developer">{{ info.developer }}&lt/p> 
&ltp class="price">{{ info.price | currency }}&lt/p>
</pre>

      <p>Then in index.html we use the new directive as the HTML element <code>&ltapp-info></code>. We pass in objects from the controller's scope ($scope.shutterbugg) into the <code>&ltapp-info></code> element's info attribute so that it displays.</p>
 
    <div class="container">        
        <div class="col-sm-6">             
            <a href="media/images/10_AngularJS/Directives_appInfo.PNG"> 
                <img class="img-thumbnail" src="media/images/10_AngularJS/Directives_appInfo.PNG" alt="image Directives_appInfo">   
            </a>
            <legend>Resulting display</legend>
        </div>
    </div>        

      
    <!-- End of your content -->

    </div> <!-- /container -->

	<!-- footer -->
    
    <footer id="footer">
        <p id="cclicense">
                </p>
        <p class="license">
        Theme: <a href="https://github.com/openp2pdesign/FabAcademy_Template">Fab Academy Template</a> by <a href="http://openp2pdesign.org">Massimo Menichinelli</a> <br>
        Based on <a href="http://getbootstrap.com/">Twitter Bootstrap</a>+<a href="http://jquery.com/">JQuery</a>+<a href="https://code.google.com/p/google-code-prettify/">google-code-prettify</a>+<a href="http://jmblog.github.io/color-themes-for-google-code-prettify/github/">GitHub theme for google-code-prettify</a>+<a href="https://code.google.com/p/jsc3d/">JSC3D</a>+<a href="https://github.com/thegrubbsian/jquery.ganttView">jquery.ganttView</a>.
        </p>
    </footer>
    

	<!-- Do not touch this! -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="media/jquery-1.9.1.min.js"></script>
    
    <!-- Syntax Highlighter -->
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js">
    </script>
    <!-- From https://github.com/jmblog/color-themes-for-google-code-prettify -->
    <link href="media/github.css" type="text/css" rel="stylesheet">
	<script type="text/javascript">
	  !function ($) {
		$(function(){
		  window.prettyPrint && prettyPrint()   
		})
	  }(window.jQuery)
	</script>
	
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
